
stony_segment_pts_test.xlsx

.DS_Store

pkgs/*

/figures/outputs/old_versions
/figures/scripts/old_scripts

console_prints.txt

/home/eric/Dropbox/programs/git_repos/Barefoot_WRR_2019/figures/scripts/figure_supp_1.r
